<div class="row bg-dark">
    <div class="col-lg-3 col-12">
   <div class="mt-2"></div>
</div>
    <div class="col-lg-3 col-12 p-3">
         
        <h2>Contact Us</h2>
        <div class="social-media-icons col-xs-12">
            <ul class="list-inline col-xs-12 ">
                 
              <a href="#"><i class="fa fa-instagram fa-1x " aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter fa-1x"aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-youtube  fa-1x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>               
            </ul>
          </div>
    <a  href="#"><img src=".\assets\images\Logo.PNG"  ></a>
    
   
    </div>
    
    
    <div class="col-lg-3 col-12">
        <h2> contact info</h2>
    <div>
        <p><i class="fa fa-location-arrow" aria-hidden="true"></i>203 fake st. mountain view, san francisco,usa</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>+2 392 3929 210</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> emailaddress@ad.com</p>
    </div>
    </div>
</div> 
